/* решение для фона */
body,
html{
    height:100%;
}

.colorbg {
    background: linear-gradient(180deg, #adadad 50%, #fff 100%);
    height: 100%;
}
/* ---------- */

/* Логотип */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e9e9e9;
}

.logo {
    width: 55px;
    height: 55px;
}

.h1 {
    margin-left: 10px;
    text-shadow: 0 6px 10px #00000040, 0 3px 5px #00000040;
}
/* ---------- */


.tableColSide {
    min-width: 55px;
    max-width: 55px;
}

.tableCol {
    width: 35%;
    position:relative;
}

.btnDel  {
    padding: 2px;
    display: flex;
}

.btnDel .material-icons {
    pointer-events: none;
}

#btnSortName:hover,
#btnSortLname:hover,
#btnSortPhone:hover {
    cursor: pointer;
}

.asc::after,
.desc::after {
    display: inline-flex;
    position: absolute;
    right: 15px;
    height:18px;
    width: 18px;
    content: "";
}

#tbodyPlus td {
    padding: 0;
    vertical-align: middle;
}

#tbodyPlus td div {
    margin: 7px 12px;
}

.asc::after {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' height='18' viewBox='0 0 18 18' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 14l5-5 5 5z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
}

.desc::after {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' height='18' viewBox='0 0 18 18' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
}

.personico::before,
.phoneico::before,
.searchico::before {
    display: inline-flex;
    margin-right: 5px;
    height:22px;
    width: 22px;
    content: "";
    background-repeat: no-repeat;
}

.personico::before {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' height='22' viewBox='0 0 22 22' width='22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
}

.phoneico::before {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' height='22' viewBox='0 0 22 22' width='22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z'/%3E%3C/svg%3E");
}

.searchico::before {
    background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
}

.shadow {
    box-shadow: 0 12px 24px #00000040, 0 10px 10px #00000040;
}