.tableColLeft, .tableColRight {
    min-width: 55px;
    max-width: 55px;
}

.tableCol {
    width: 35%;
}

.btnDel  {
    padding: 2px;
    display: flex;
}

.btnDel .material-icons {
    pointer-events: none;
}

#btnSortName:hover,
#btnSortLname:hover,
#btnSortPhone:hover {
    cursor: pointer
}