.tableColLeft, .tableColRight {
    min-width: 55px;
    max-width: 55px;
}

.tableCol {
    width: 35%;
}

.btnDel  {
    padding: 2px;
    display: flex;
}

.btnDel .material-icons {
    pointer-events: none;
}

/* Удаление стрелок у inputa [type="number"] */
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}